<h3>Add new offer</h3>
<form class="form-horizontal">

    <div class="control-group">
        <label class="control-label" for="inputTitle">Title</label>

        <div class="controls">
            <input type="text" id="inputTitle" placeholder="Offer Title" name="title" value="">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputDescription">Description</label>

        <div class="controls">
            <textarea rows="5" type="text" id="inputDescription" name="description" placeholder="Offer Description"></textarea>
        </div>
    </div>

    <div class="control-group">
        <button type="submit" class="btn btn-primary">Add</button>
        <a href="/#/list" type="submit" class="btn btn-danger">Cancel</a>
    </div>
</form>